header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    font-size: var(--font-size-18);
    box-shadow: 0 var(--space-5) var(--space-5) 0 var(--color-shadow);
    margin-bottom: var(--space-10);
    padding: var(--space-10) var(--space-per-15);
}
nav a {
    margin: var(--space-10);
    color: var(--color-textPrimary);
}

.logo {
    max-width: 200px;
}

#darkmode {
    border: 0;
    background: none;
    fill: var(--color-background);
    color: var(--color-accentDark);
    line-height: 0;
    padding: 0.8rem;
    border-radius: 2rem;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    header {
        padding: 0;
        padding: var(--space-10) var(--space-per-5);
    }
    .logo {
        max-width: 100px;
    }
    nav a {
        font-size: var(--font-size-14);
    }
}
